*~
*.swp
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.DS_Store
*.log
db/*.sqlite3
.bundle
log/*
tmp/*
public/system/*
coverage/
spec/tmp/*
**.orig
config/*.yml
rerun.txt
pickle-email-*.html
doc/api
doc/app

